.cards{
   display: flex; 
   flex-wrap: wrap;
   
   width: 100%;
}
.animated-card {
    width: 150px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 3s infinite alternate;
    z-index: -1;
}


/* @keyframes slideIn {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(50px);
    }
}  */