.dash-container {
width:  100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.small-hero {

  width: 100%;
  background-size: cover;
  background-image: url(/images/pexels-pixabay-259209.jpg);
}
.promo_card {
  width: 100%;
  color: var(--secondary);
 
  border-radius: 0 0 8px 8px;
  padding: 0.5rem 1rem 0 0;
 

}
.promo_card h1,
.promo_card span,
button {
  margin: 10px;
}
.promo_card button {
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  
}
