*{
  margin: 0;
  padding: 0;
}
.page-content{
  margin:  auto;
  width: 70%;
  height: 100vh;
  margin-right: 9.8rem;
  display: flex;
  flex-direction: column;
  
}
button{
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background: skyblue;
}