.loan-company-cards {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1rem;
    
  }
  
  .card {
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary);
    color: var(--white);
  }
  .card::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--green);
    top: -5%;
    left: -5%;
  }
  .card::after:hover{
    width: 100%;
  }
  
  