.loan-company-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    
  }
  
  .card {
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: center;
    width: 250px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    background-color: #321554;
    color: white;
  }
  .card::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #36BFFF;
    top: -5%;
    left: -5%;
  }
  .card::after:hover{
    width: 100%;
  }
  
  /* .card h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 20px;
    color: #555;
    margin: 0;
  } */
  